<% layout("/layouts/boilerplate") %>
<body>
      
    <div class="row">
        <div class="col-8 offdet-2">
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <h3 class="mb-3 mt-3">Create a New Listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="Listing[title]" placeholder="Add a catchy title" class="form-control" required>
                    <div class="valid-feedback">
                    Title looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="Listing[description]" placeholder="enter description" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please enter a short description
                      </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" name="Listing[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input  name="Listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">
                            Price should be valid
                          </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="Listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">
                            Country should be valid
                          </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="Listing[location]" placeholder="Ambernath, Maharashtra"class="form-control" required>
                    <div class="invalid-feedback">
                        Location should be valid
                      </div>
                </div>
                <button type="submit" class="btn btn-dark add-btn mb-3">Add</button>
            </form>
        </div>
    </div>
</body>
